<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div>
        <h1>Bot List</h1>
        <ul>
            <% chatbotlist.forEach(function(bot) { %>
                <li>
                    <div style="display: flex;">
                        <b><%= bot.name %>  </b> 

                    </div>

                    <form action="/chat/<%= bot.name %>" method="post">
                        <%= //-- A REMPLACER PAR " %= bot.login % " %>
                        <input type="hidden" name="login" value="Romain" />
                        <input type="hidden" name="name" value="<%= bot.name %>" />
                        <input type="hidden" name="isFirstAccess" value="yes" />
                        <input type="submit" class="btn btn-primary" value="chat" />
                    </form>

                    <p>

                </li>
            <% }); %>
        </ul>
    </div>

    <div>

        <p></p>

        <form action="/chat" method="post">
            <input type="hidden" name="action" value="printAll" />
            <input type="submit" value="print cloud DB bots" />
        </form>
        <form action="/chat" method="post">
            <input type="hidden" name="action" value="eraseDB" />
            <input type="submit" value="erase cloud DB" />
        </form>
        <p></p>
        <form action="/chat" method="post">
            <input type="hidden" name="action" value="printLDB" />
            <input type="submit" value="print local DB brains" />
        </form>
        <form action="/chat" method="post">
            <input type="hidden" name="action" value="eraseLDB" />
            <input type="submit" value="erase local db" />
        </form>
        <p></p>
        <form action="/chat" method="post">
            <input type="hidden" name="action" value="loadBdd" />
            <input type="submit" value="load cloud dd bots into local bdd" />
        </form>
    </div>

</body>

</html>